
{% block css %}
  <link rel="stylesheet" href="/assets/styles/footer.css" />
{% endblock %}



<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Game Catalog</strong> by <a href="https://twitter.com/Regroop_" target="_blank">Louis Fanien</a>. © 2020 Copyright: Astoo Corporation.
    </p>
    
  </div>
</footer>


