<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Game Catalog</strong> by <a href="https://twitter.com/Regroop_" target="_blank">Louis Fanien</a>. © 2020 Copyright: Astoo Corporation.
    </p>
    
  </div>
</footer>

<style>
  footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1rem !important;
    background-color: #141414 !important;
    color: white !important;
  }
</style>